.line {
	padding: 5px 10px ;
	display: grid;
	grid-template-columns: auto repeat(3, 150px);
	width: 100%;
	align-items: center;
}

.line:nth-child(even) {
	background-color: #f0f0f0;
}

.isHeading {
	font-weight: bold;
}

@media (max-width: 790px) {
	.line {
		grid-template-columns: repeat(3, 1fr);
		padding-bottom: 20px;
		gap: 20px;
	}

	.line p:first-child {
		grid-column-start: 1;
		grid-column-end: 4;
		font-weight: bold;
		text-align: center;
	}
}