.line {
	padding: 5px 10px ;
	display: grid;
	grid-template-columns: auto repeat(3, 150px);
	width: 100%;
	align-items: center;
}

.line:nth-child(even) {
	background-color: #f0f0f0;
}

.isHeading {
	font-weight: bold;
}